[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
mypy = "*"
pylint = "*"
jedi = "*"
rope = "*"
hypothesis = "*"
jupyter = "*"

[packages]
pygit2 = "*"
torch = "*"
numpy = "*"
scipy = "*"
matplotlib = "*"
matplotlib2tikz = "*"
jupyter = "*"
tikzplotlib = "*"
ipykernel = "*"
torchvision = "*"
kaggle = "*"
timm = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
